*{
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body, html{
    height: 100%;
}

#wrap{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.layer{
    position: absolute;
}

.background{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.background:before{
    content: '';
    position: absolute;
    left: -100%;
    top: -50%;
    width: 300%;
    height: 300%;
    border-radius: 50%;
    transform-origin: 50% 50%;
    background: linear-gradient(to bottom, #000000,#0C0E27 50%,#BBEFFF 50%, #00C3FF);
    transition: 1s;
    z-index: 0;
}

.background.day:before{
    transform: rotate(-180deg);
}

.background.night:before{
    transform: rotate(0deg);
}

.city{
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background: url(images/city.png);
    background-repeat: repeat-x;
    background-position: center 100%;
    z-index: 2;
}

.hills{
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -100%;
    background: url(images/hills.png);
    background-size: 100% 35%;
    background-repeat: no-repeat;
    background-position: center 100%;
    z-index: 2;
}

.moon, .sun{
    width: 150px;
    height: 150px;
    z-index: 1;
}

.moon{
    top: 200px;
    left: 100px;
}

.sun{
    top: 300px;
    left: -500px;
}

.moon img, .sun img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    filter:drop-shadow(0 0 15px #fff);
}

.sun img{
    filter:drop-shadow(0 0 20px #FFCB9A);
}

#change_btn{
    outline: none;
    position: fixed;
    left: 50%;
    bottom: 40px;
    margin-left:-60px;
    border-radius: 82% 18% 28% 72% / 48% 52% 48% 52% ;
    text-align: center;
    color:#fff;
    background:#FC8631;
    width: 120px;
    padding: 25px;
    user-select: none;
    font-size: 20px;
    transition: 1s;
    animation: liquid 2s infinite ease;
    z-index: 9999;
}

@keyframes liquid{
    0%{
        border-radius: 82% 18% 28% 72% / 48% 52% 48% 52% ;
    }
    50%{
        border-radius: 26% 74% 23% 77% / 59% 26% 74% 41% ;
    }
    75%{
        border-radius: 21% 79% 54% 46% / 32% 16% 84% 68%  ;
    }
    100%{
        border-radius: 82% 18% 28% 72% / 48% 52% 48% 52% ;
    }
}