@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

*{
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

#wrap{
    width: 100%;
    position: relative;
}

#wrap section{
    overflow: hidden;
}

.intro, .outro{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    max-width: 900px;
}

.content h1, .content p{
    text-align: center;
    color:#fff;
}

.content h1{
    font-size: 4em;
}

.content p{
    font-size: 28px;
    margin-top: 20px;
}

.scene{
    width: 100%;
    position: relative;
}

#universe{
    
    background: url(images/universe_back.jpg);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: 100%;
}

.layer{
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 0;
    top: 0;
}

.layer .elem{
    position: absolute;
    z-index: 1;
}

.layer .elem > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.asteroid.type1{
    width: 150px;
}

.type1.fir{
    top: -150px;
    left: -150px;
}

.type1.sec{
    top: 100%;
    right: -150px;
}

.asteroid.type2{
    width: 200px;
}

.type2.fir{
    top: 50%;
    left: -200px;
}

.type2.sec{
    top: 50%;
    right: -200px;
}

.asteroid.type3{
    width: 150px;
}

.type3.fir{
    top: 100%;
    left: -150px;
}

.type3.sec{
    top: 100px;
    right: -150px;
}

.astro{
    height: calc(100vh + 750px);
    box-shadow: inset 0 0 100px 20px #000;
}

.space-station{
   width: 400px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.space-station > img{
    animation: rotateStation 3s linear infinite alternate;
}

.astr{
    width: 20px;
}

.astr1{
    top: 30%;
    left: 30%;
}

.astr2{
    top: 60%;
    left: 50%;
}

.astr3{
    left: 80%;
    top: 20%;
}

@keyframes rotateStation{
    0%{
        transform: rotate(-10deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(10deg);
    }
}

.earth{
    background: url(images/atmosphere_back.jpg) no-repeat center/cover;
}