@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

*{
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html, body{
    overflow-x: hidden;
}

#wrap{
    width: 100%;
    /* min-height: 3000px; */
}

.header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #ff9068, #ff4b1f); 
}

.content{
    max-width: 900px;
}

.content h1, .content p{
    text-align: center;
    color:#fff;
}

.content h1{
    font-size: 4em;
}

.content p{
    font-size: 28px;
    margin-top: 20px;
}

section{
    width: 100%;
    padding: 50px;
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    opacity: 0;
    visibility: hidden;
}

section h2{
    margin-top: 10px;
    font-size: 2em;
    color:#fff;
}

section.right h2{
    text-align: right;
}

section.left h2{
    text-align: left;
}

section.left.animated{
    opacity: 1;
    visibility: visible;
    animation: fadeInLeft 1s;
}

section.right.animated{
    opacity: 1;
    visibility: visible;
    animation: fadeInRight 1s;
}